<html>

<body>
    <p>Student Attendance</p>
    <ol>
        <li>guest (password: guest)</li>
        <li>developer (password: developer)</li>
    </ol>
    <hr>
    <form action="/login" method="post">
        Username: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <form action="/registration" method="post">
        <input type="submit" value="Register">
    </form>
</body>

</html>
